<div class="header">
  <h1>Add a Message</h1>
</div>

<div class="formContainer">
  <div style="width: auto;">
    <form method="POST" action="/new">
      <label for="nameinput">Name</label>
      <input type="text" id="nameInput" name="nameInput" />
      <label for="titleinput">Title</label>
      <input type="text" id="titleInput" name="titleInput" />
      <label for="textInput">Text</label>
      <textarea type="text" id="textInput" name="textInput"> </textarea>
      <button class="button" type="sumbit">Submit</button>
    </form>
  </div>
</div>